*{margin: 0; padding: 0;}
body {background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210108/pngtree-color-water-mark-stroke-background-image_530640.jpg); 
    background-size: 100% ;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
    font-weight: 520;
    font-size: 120%;
  color: rgb(1, 1, 49);
   }

   header{
     height: 5cm;
     background-size: 100%;
     width: 100%;
     margin-bottom: 0px;
background-image: url(https://adaits.es/files/2017/11/cabecera-fondo-leaders.jpg) ;
   }
.wrapper{
  width: 200%;
  max-width: 1000px;
  margin-left: 1.5cm;

}

header .logo{
 font-size: 250%;
 line-height: 200px;
color: floralwhite;
float: left;
}

#apartado1{
  
  width: 32.5cm;
  height: auto;
  background-color: rgb(255, 255, 255);
  border:3px solid rgb(255, 255, 255);
  border-radius:10px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: rgb(19, 97, 128);
}

a:visited {
  color: #da4b4b;
}

a:focus {
  border-bottom: 1px solid;
  background: #e498e4;
}

a:hover {
  border-bottom: 1px solid;
  background: #eaaafe;
}

a:active {
  background: #265301;
  color: #feaaf7;
}